/*Header and footer responsive start*/

@media all and ( max-width: 624px) {

    .menu-top .social-area ul li a {
        font-size: 16px;

    }

    .menu-top .accaunt-area ul li a {
        font-size: 14px;
    }

}

@media all and ( max-width: 940px) {

    /*Megha menu*/
    .menu ul li ul.megha-menu {
        width: 70% !important;
    }
}

@media all and ( max-width: 676px) {

    /*responsive megha menu plugin*/
    button#responsive-menu-button {
        width: 40px !important;
        height: 34px !important;
        position: absolute !important;
        top: 5px !important;
        left: 2% !important;
        background: #6D6D6D !important;
        border-radius: 2px;
        color: #252525;

    }

    .main-menu-area .menu {
        display: none;
    }

    .menu-top {
        display: none;
    }

    /*Hide menu*/
    .hide-menu-top {
        display: block;
        background-color: #252525;
        padding: 10px 0px;

    }

    .hide-menu-top:after {
        content: '';
        display: block;
        clear: both;
    }

    .hide-menu-top .hide-menu {
        width: 100%;

    }

    .hide-menu-top .hide-menu .hide-menu-left {
        float: left;
        width: 20%;
        background-color: transparent;

    }

    .hide-menu-top .hide-menu .hide-menu-left a i {
        padding: 10px 15px;
        color: white;

    }

    .hide-menu-top .hide-menu .hide-menu-right {
        width: 80%;
        float: left;
    }

    .hide-menu-top .hide-menu .hide-menu-right a {
        float: right;
        color: #7f8c8d;
        display: block;
        text-transform: uppercase;
        margin-left: 13px;
        transition: .5s;
    }

    .hide-menu-top .hide-menu .hide-menu-right a:hover {

        color: white;

    }

    .hide-menu-top .hide-menu .hide-menu-right a i {

        padding-right: 5px;

    }

}

@media all and (max-width: 1088px) {

    /*Footer area*/
    .footer-top-area .container .row .col-lg-3:nth-last-child(1) .footer-top-contant .footer-sign-up input[type="text"] {
        padding: 4px 0px 4px 4px;
        width: 60%;
        font-size: 12px;

    }

    .footer-top-area .container .row .col-lg-3:nth-last-child(1) .footer-top-contant .footer-sign-up input[type="submit"] {
        padding: 4px 3px;
        font-size: 12px;

    }

    /*Megha menu */
    .menu ul li ul.megha-menu {
        width: 60%;
    }

    .menu ul li:nth-child(2) ul.megha-menu {
        width: 50%;
    }

}

@media all and (max-width: 328px) {
    .main-menu h1 {
        font-size: 14px;
        font-weight: normal;
    }

    /*heritage area */
    .heriatage-area-img {
        height: 180px;
    }

    .heriatage-contant p {
        margin-bottom: 6px;
        word-spacing: 2px;
        font-size: 13px;
    }

    .page-heading h2 {
        margin-bottom: 12px;
        font-size: 24px;
    }

    .claint-area .page-heading {
        margin: 13px 0px;
    }

    .claint-name ul li {
        font-size: 13px;
    }

    /*Music area*/
    .tgm-instragram-area .header h4 {

        font-size: 11px;
    }

    .tgm-instragram-area .instragram-button a button {
        font-size: 10px;
    }

    .tgf-music-blog .tgf-content {
        height: 196px;
        margin-bottom: 20px;

    }

    .tgf-music-blog .tgf-content h3 {
        left: 29%;

    }

    /*Registration area */
    .register-area .register label, .login-area .login label, .register-area .register input[type="submit"], .login-area .login input[type="submit"] {
        font-size: 14px !important;
    }

}

@media all and  (max-width: 575px) {
    .footer-top-contant {
        width: 80%;
        margin: auto;

    }

    .footer-top-area .footer-top-contant h4 {
        font-size: 16px;
        margin-bottom: 15px;

    }

    .footer-top-area .footer-top-contant ul li {
        margin-bottom: 3px;

    }

    .heritage-area .clint-res {
        width: 50%;
        float: left;

    }

    /*Music area*/
    .tgm-instragram-area .header h4 {

        font-size: 12px;
    }

    .paginaiton ul li a {
        padding: 4px 10px;

    }

    .paginaiton {
        padding-top: 0px;
    }

    .tgf-music-blog {
        padding-bottom: 0px;
    }

    .tgm-instragram-area .instragram-button {
        padding: 0px 0px;
        text-align: center;
    }

    .tgm-instragram-area .instragram-button a button {
        font-size: 10px;

    }

    /*Registration area*/
    .login input[type="submit"], .register input[type="submit"] {
        width: 30%;
        border-radius: 2px;

    }

}

/*Header and footer responsive end*/

/*Home page body*/

@media all and (max-width: 767px) {

    /*slider area*/
    .slider .item img {
        height: 300px;
    }

    /*rock and roll area*/
    .rock-and-roll-jueallery-area {
        padding: 44px 0px;
    }

    .rock-and-roll-content {
        padding-bottom: 38px;
    }

    .rock-and-roll-jueallery-area .rock-and-roll-images .img-box-area {
        height: 296px;
    }

    .rock-and-roll-images .img-box-area a .img-inner-box h1 {

        margin-top: 100px;
    }

    /*Shope page*/
    .main-shop-area {
        padding: 47px 0px 100px 0px;
    }

    /*Registration area*/
    .registration-area .login-area {
        width: 80%;
        margin: auto;
        float: none;

    }

    .registration-area .register-area {
        width: 80%;
        margin: auto;
        float: none;

    }

    .registration-area .login-area .login {
        margin-bottom: 50px;
    }

    .login input[type="submit"], .register input[type="submit"] {
        height: 40px;
    }

    .login input[id="uname"], .register input[id="runame"], .login input[id="pss"], .register input[id="rua"], .register input[id="rpss"] {
        padding: 9px 0px 9px 9px;
        font-size: 14px;
    }

    .register-area .register label, .login-area .login label, .register-area .register input[type="submit"], .login-area .login input[type="submit"] {
        font-size: 16px;
    }

    .menu ul li ul.megha-menu {
        width: 80% !important;
    }

}

@media all and (max-width: 462px) {

    .rock-and-roll-content {

    }

    .rock-and-roll-content h1 {
        font-size: 1.2em;
        letter-spacing: 0px;
    }

    .rock-and-roll-content p {
        color: #D5D5D5;
        font-size: 14px;
        margin: 1px 0px;
    }

}

/*Blog responsive */

@media all and (max-width: 262px) {

    #fh5co-main .search-area {
        display: none;
    }

}

@media all and (max-width: 300px) {
    .hide-menu-top .hide-menu .hide-menu-right a {
        font-size: 14px;
        margin-left: 6px;
    }

}


































