/*Default Setting*/
body{
    font-family: 'MinionProMedium', Georgia, Times New Roman, Serif;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul,li,a,div,nav,h1,h2,h3,h4,h5,h6,p{
    margin:0px;
    padding:0px;
}
.container {    
    max-width: 78.9em;
}

/*Top Menu area*/
.menu-top{
    background-color: #252525;
    /*margin-top: 100px !important;*/
}
.menu-top ul{
    text-align: left;
}
.menu-top ul li{
    display: inline-block;

}

/*Left*/
.menu-top .social-area ul li a{
    display: block;
    color: #7f8c8d;
    font-size:20px;
    transition: .5s;
    padding: 6px 2px;
}
.menu-top .social-area ul li a:hover{
    color:#FFFFFF;
}

/*Right */
.menu-top .accaunt-area ul li a{
    color: #7f8c8d;
    text-transform: uppercase;
    display: block;
    padding: 6px 2px;
    transition: .5s;

}
.menu-top .accaunt-area ul li a input{
    display: none;
}

.menu-top .accaunt-area ul li:hover a{
    color: #FFFFFF;
}


/*Menu hide */
 .hide-menu-top{
    display: none;
 }



/*Main menu */

.main-menu-area {
    background-color: #000000;
    padding-top: 31px;



}
.main-menu{
    text-align: center;
    border-bottom:1px solid #252525;
}
.main-menu-area .main-menu .logo img{
    width:400px;
    height:229px;
}
.main-menu > h1{
    color:white;
    font-size:20px;
    margin:20px 0px;
    font-style: italic;
}

.menu > ul{
    list-style: none;
    text-align: center;
    position: relative;
}
.menu ul > li{
    display: inline-block;

}
.menu ul li > a{
    color: white;
    padding: 10px 5px 20px 5px;
    text-transform: uppercase;
    font-weight:bold;
    font-size:20px;
    display: block;
}


/*Megha menu*/



.menu ul li ul.megha-menu{
    position: absolute;
    top:100%;

    width: 50%;
    background-color: black;
    color: white;
    border:1px solid #252525;
    z-index: 999;
    padding: 15px;

    display: none;
}
.menu ul li ul.megha-menu:after{
    position: absolute;
    width:25px;
    height: 25px;
    content: '';

    border: 0 solid #252525;
    border-width: 1px 0  0 1px;
    background-color:black;

    left: 17px;
    top: -13px;
    transform: rotate(45deg);


}




.menu ul li ul.megha-menu li{
    float: left;
    width: 33.33%;



}
.menu ul li ul.megha-menu li > h4{
    text-align: left;
    margin-bottom:15px;
}

.menu ul li ul.megha-menu li a{
    display: block;
    color: rgb(109, 109, 109);
    font-weight:normal;
    text-transform: capitalize;
    text-align: left;
    padding: 0px;
    margin-bottom:8px;
    transition: .5s;
    font-weight:18px;

}

.menu ul li ul.megha-menu li a:hover{
    color: white;

}

/*Hover effect megha menu*/
.menu ul li:hover ul.megha-menu{
    display: block;
}


/*second megha menu*/
.menu ul li:nth-child(2) ul.megha-menu{
    width: 37%;
}
.menu ul li:nth-child(2) ul.megha-menu li{
    width: 50%;
}









/*Slider */
.slider{

}
.slider .item img{
    height: 500px;
}
.owl-dots{
    display: none;
}


/*Rock and roll area*/
.rock-and-roll-jueallery-area{
    background-color: black;
    padding:68px 0px;
}
.rock-and-roll-content{
    text-align: center;
    padding-bottom:68px;
}
.rock-and-roll-content h1{
    color: #FFFFFF;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom:10px;
}

.rock-and-roll-content .dash{
    width: 70px;
    height: 1px;
    margin: 15px auto 20px;
    border-top: 1px solid #fff;
}

.rock-and-roll-content p{
    color: #D5D5D5;
    font-size:16px;
    margin:5px 0px;
}


/*Rock and roll area*/
.rock-and-roll-images .img-box-area{
    height: 382px;
    position: relative;
    margin-bottom: 30px;
}

.rock-and-roll-images .img-box-area a img{
    width: 100%;
    height: 100%;
}
.rock-and-roll-images .img-box-area a .img-inner-box{
    position: absolute;
    top:0px;
    left:0px;
    background-color: rgba(0, 0, 0,.5);
    width: 100%;
    height: 100%;
    display: none;
    transition: .1s;
}
.rock-and-roll-images .img-box-area a .img-inner-box h1{
    color:white;
    text-align: center;
    margin-top:185px;
    font-weight:bold;

}

.rock-and-roll-images .img-box-area:hover .img-inner-box{
    display: block;
}

/*Featured area start*/
.fetured-area{
    background-color: black;
    padding-bottom: 66px;
}
.featured-heading{
    padding-bottom:66px;
}
.featured-heading h1{
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.featured-content-area .img-fetured{
    height: 290px;
    padding-bottom: 33px;
}
.featured-content-area .img-fetured img{
    width: 100%;
    height: 100%;
}
.featured-content-area .featured-content{
    margin-bottom: 30px;
 }


.featured-content-area .featured-label{
    text-align: center;
}

.featured-content-area .featured-label h5{
    color: white;
}
.featured-content-area .featured-label p{
    color: #6d6d6d;
    font-size:18px;
}


/*Footer top area*/

.footer-top-area {
    padding: 60px 0px;
    background-color: #2A2A2A;
    color: #6D6D6D;
}
.footer-top-area .footer-top-contant h4{
    color: white;
    margin-bottom:35px;
    text-transform: uppercase;
}
.footer-top-area .footer-top-contant ul{
    list-style: none;
}
.footer-top-area .footer-top-contant ul li{
    margin-bottom:16px;
}
.footer-top-area .footer-top-contant ul li a{
    color: #626262;
    transition: .5s;


}
.footer-top-area .footer-top-contant ul li a:hover{
    color: white;
}
.footer-top-area .footer-top-contant ul li .footer-sign-up{
    content: '';
    display: block;
    clear: both;

}
.footer-top-area .footer-top-contant ul li .footer-sign-up input[type="text"]{
    float: left;
    padding: 6px 0px 6px 6px;
    background-color: #2A2A2A;
    border:1px solid #6D6D6D;
    color: white;

}
.footer-top-area .footer-top-contant ul li .footer-sign-up input[type="text"]:focus{
    border: 1px solid #6D6D6D;
}

.footer-top-area .footer-top-contant ul li .footer-sign-up input[type="submit"]{
    float: left;
    border:1px solid transparent;
    background-color: #6D6D6D;
    padding: 6px 8px;
    
}

.footer-widget-area{
    margin-bottom:40px;
    text-align: center;
}



/*Footer Copyright area*/

.footer-copyright-area{
    background-color: #2A2A2A;
}
.footer-copyright-content{
    text-align: center;
    color: #6D6D6D;
    padding-bottom:29px;
}



/*Stories Page desing*/

.stories-area{
    background-color: black;
    padding: 47px 0px;
}
.page-heading{
    padding-bottom: 47px 0px;
}
.page-heading h2{
    text-align: center;
    color: #DBDBDB;
    text-transform: uppercase;
    margin-bottom:37px;
}

.stories-area .area{
    color: white;
}
.stories-area .area h3{
    text-transform: uppercase;
    margin-bottom:37px;
}
.stories-area .area a{
    font-size:18px;
    color: white;
    border-bottom:1px solid white;

}

.stories-area .timearea{
    margin-top:63px;
    color: white;
}





/*Heratiage page start*/

.heritage-area{
    background-color: black;
    padding: 47px 0px;
}
.heriatage-contant {
    color: white;
}
.heriatage-contant p {
    margin-bottom:8px;
    word-spacing: 3px;
    color: #BDBDBD;
}
.heriatage-contant p:last-child{
    margin-bottom:0px;
}
.claint-area .page-heading{
    margin:37px 0px;
}
.claint-area .page-heading h2{
    text-align: left;
}

.claint-name {
    margin-bottom: 30px;
}

.claint-name ul{
    list-style:none;
}
.claint-name ul li{
    color:white;
    color: #BDBDBD;
}
.heriatage-area-img{
    width: 100%;
    height: 247px;
    margin-bottom:21px;

}
.heriatage-area-img img{
    width: 100%;
    height:100%;

}

/*Music area*/
.tgf-music-area{
    padding: 37px 0px;
    background-color: black;
}
.tgf-music-blog{
    padding-bottom: 31px;
}




/*Blog area*/

#fh5co-main {
    background-color: black;
}

#fh5co-main .search-area{
    position: relative;
    max-width: 280px;
    margin: 0 auto 55px;
    padding-top: 55px;
}
#fh5co-main .search-area input{
    padding: 0px;
    margin:0px;
    outline: none;
}

#fh5co-main .search-area form:after{
    content: '';
    display: block;
    overflow: hidden;
}

#fh5co-main .search-area input[type="text"]{
    border: 1px solid #6D6D6D;
    padding: 8px;
    background-color: #252525;
    color: #6D6D6D;
    float: left;
}
#fh5co-main .search-area input[type="text"]:focus{
    border: 1px solid #6D6D6D;

}

#fh5co-main .search-area i{
    background-color: #6D6D6D;
    padding: 11px;
    font-size:20px;
    color: white;
    float: left;
    cursor: pointer;


}





#fh5co-board .item {
    margin: 10px 10px 20px 10px;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    position: relative;


}
.item-box a{
    transition: .1s;
    display: block;
}
.item-box a img{
    width: 100%;
    height: 100%;

}
.item-box a .item-blur{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    display: none;
    transition: 1s;


}
.item-box a:hover .item-blur{
    display: block;
    background-color: rgba(0,0,0,.2);

}

.item-box a .item-blur h4{
    color: #FCFFFF;
    text-transform: uppercase;
    position: absolute;
    top:50%;
    left:0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    display: none;

}
.item-box a:hover .item-blur h4{
    display: block;
}




    /*Music area*/
.tgf-music-blog{

}
.tgf-music-blog .tgf-content{
    height: 236px;
    margin-bottom:30px;
    position: relative;
}
.tgf-music-blog .tgf-content img{
    height: 100%;
    width: 100%;
}

.tgf-music-blog .tgf-content h3{
    position: absolute;
    top: 6%;
    left: 4%;
    width: 85%;
    color: magenta;
}

/*Pagination */

.paginaiton{
    padding-top: 31px;
}
.paginaiton ul{
   list-style: none;
}
.paginaiton ul li{
    display: inline-block;
}
.paginaiton ul li a{
    display: block;
    padding: 8px 16px;
    background-color:  #333;
    color: white;
    font-weight:bold;
    transition: .5s;
}


/*Wordpress pagination*/

.paginaiton .nav-links a{

    padding: 8px 16px;
    background-color:  #333;
    color: white;
    font-weight:bold;
    transition: .5s;
    display: inline-block;
    border-radius: 2px;
}
.paginaiton .nav-links a:hover{

    background-color: #444444;

}

.paginaiton .nav-links .current{

    background-color: #6D6D6D;

    padding: 8px 16px;
    color: white;
    font-weight:bold;
    transition: .5s;
    display: inline-block;
    border-radius: 2px;
    font-weight:bold;
}





.paginaiton ul li.active a{
    background-color: #888888;
}
.paginaiton ul li:hover a{
    background-color: #444444;
}


/*Tgm instragram area*/

.tgm-instragram-area{
    background-color: black;
    color: white;
    padding-bottom: 31px;
}
.tgm-instragram-area .header h4{
    text-transform: uppercase;
    padding-bottom: 31px;
    line-height:0px;
    border-top:1px solid #252525;
}
.tgm-instragram-area .header h4 span{
    background-color: black;
    padding-right:5px;
}

.tgm-instragram-area .inst-img{
    position: relative;
    height: 143px;
    margin-bottom: 31px;
}
.tgm-instragram-area .inst-img img{
    width: 100%;
    height: 100%;
}

.tgm-instragram-area .inst-shado{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,.3);
    display: none;

}
.tgm-instragram-area .inst-img:hover .inst-shado{
    display: block;
}
.tgm-instragram-area .instragram-button{
    padding: 31px 0px;
    text-align: center;
}
.tgm-instragram-area .instragram-button a button{
    text-transform: uppercase;
    background-color:rgb(92, 92, 92);
    color:white;
    transition:.5s;
}
.tgm-instragram-area .instragram-button a button:hover{
    background-color:rgb(42, 42, 42);
}



/*Main shop area*/
.main-shop-area{
    background-color: black;
    padding: 47px 0px 160px 0px;
}

.main-shop-body .main-shop{
    width: 100%;
    margin-bottom: 30px;
}
.main-shop-body .main-shop a img{
    width: 100%;
    height: 100%;


}

.main-shop-body .main-shop a{
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;
    text-align: center;
    display: block;   

}



/*Single Page*/

.single-body-area{
    padding:52px 0px;
    background-color: black;
}
.single-body-area .single-body{
    width: 50%;
    margin: auto;
    text-align: center;
    color: rgb(255, 255, 255);
}
.single-body-area .single-body h2{

    line-height: 130%;
}

.single-body h5{
    margin: 20px 0px;
}
.single-body p{
    margin-bottom:12px;


}

.single-body img{
    display: block;
    margin: auto;
    width: 100%;
    margin-top:20px;
}

/*Single product page*/

.breadcrumb-area{
    background-color: black;
    padding: 27px 0px;
}
.breadcrumb-area ul{
    list-style: none;
}
.breadcrumb-area ul li{
    display: inline-block;
}

.breadcrumb-area ul li > a{
    color: rgb(109, 109, 109);
    transition: 1s;
}
.breadcrumb-area ul li > a:hover{
    color: white;
}
.breadcrumb-area ul li a:hover span{
    color: rgb(109, 109, 109);
}
.breadcrumb-area ul li:nth-last-child(1) a{

    font-size:14px;
}


.categories-area{
    background-color: black;
    padding: 5px 0px 10px 0px;
}
.categories-area .page-heading{
    text-align: center;
    color: white;

}
.categories-area .page-heading h3{
    text-transform: uppercase;
    margin-bottom:10px;
    text-align: center;

}
.categories-area .page-heading p{

    text-align: center;
    margin-bottom:10px;

}

.pagination-area{
    padding: 30px 0px 40px 0px;
}
.pagination-area .categories-sort{
    margin-top:5px;
}

.pagination-area .paginaiton{
    text-align: right;
    padding: 0px;
}

.pagination-area .paginaiton ul li a{
    padding: 6px 12px;

}

/*Categories items*/

.categorie-items-area{
    margin-bottom:70px;
    color: white;
}

.categorie-items-area .categories-img img{
    width: 100%;
    margin-bottom:20px;
}
.categorie-items-area .categories-content{
    text-align: center;
}

.categorie-items-area .categories-content h6{
    margin-bottom:3px;
}
.categorie-items-area .categories-content p{
    color:rgb(109, 109, 109);
    font-weight:bold;
}



/*Breadcrumb area*/

.bread-cum{
    background-color: black;
    padding: 20px 0px;

}
.breadcrumb{
    padding: 0px;
    margin: 0px;
    background-color: black;
}

.bread-cum ol.breadcrumb li a{
    color: rgb(109, 109, 109);
    transition: 1s;

}

.bread-cum ol.breadcrumb li a:hover{
    color: white;
}


/*registration area*/
.accautn-header{
    background-color: black;
     padding-bottom: 40px;

}

.accautn-header .page-heading{
   
}

.accautn-header .page-heading h2{
    margin: 0px;
    padding-bottom: 40px;
    border-bottom: 1px solid #252525;
}

/* Registration are */

.registration-area{
    background-color: black;
    padding-bottom: 100px;
}

.login-area h2 , .register-area h2  {
    text-align: center;
    color:white;
    margin-bottom: 30px;
}

.register-area .register label , .login-area .login label ,
 .register-area .register input[type="submit"] , .login-area .login input[type="submit"]

 {
    display: block;
    color: rgb(109, 109, 109);
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-size: 300;

}

.login label[for="uname"] ,
 .register label[for="runame"] ,
 .login label[for="pss"] ,
 .register label[for="rua"]
{
    margin-bottom: 3px;

}

.login input[id="uname"] ,
 .register input[id="runame"] ,

 .login input[id="pss"] ,
 .register input[id='rua'],
 .register input[id='rpss']
{

  background-color: rgb(37, 37, 37);
  border: 0px solid transparent;
  padding: 15px 0px 15px 10px;
  width: 100%;
  margin-bottom: 10px;
  color: rgb(109, 109, 109);
  outline: none;
  text-transform: capitalize;
    border-radius: 3px;

}

.login  input[type='submit'] , .register input[type='submit']{
    background-color: rgb(109, 109, 109);
    border: 1px solid transparent;
    width: 20%;
    height: 50px;
    color:white !important;
    cursor: pointer;
    border-radius: 3px;
    
}

.login label[for='check'] , .login input[id='check'] {
    display: inline;
    margin-top: 10px;

}











































