/*
Theme Name: thehammersilver
Theme URI: https://wordpress.org/themes/twentyseventeen/
Author: Md.Al-Mahmud
Author URI: https://www.facebook.com/shakhalmahmud
Description: thehammersilver is a WordPress ecommerce theme.You can get world famous plugin as a visual composer, revolution slider , and theme options.Everything is changable . You can easily change your logo content as you like.It's full responsive theme.It's not difficult to customize.It's fully userfriendly. 
Version: 1.3
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

*/

.stories-area p {
    color: white !important;

}

/*Footer content*/

.footer-top-contant #wp-subscribe {
    background-color: #2A2A2A !important;
    margin-top: 0px;
    padding-top: 0px;
}

.footer-top-contant #wp-subscribe form input[name="email"] {
    background-color: transparent;
    border: 1px solid #6D6D6D;
    outline: none;
}

.footer-top-contant #wp-subscribe form input[type="submit"] {
    background-color: #6D6D6D;
    color: white;
}

/*Visual header*/
.vis-header h2, .vis-header h1, .vis-header h3 {
    color: white;
    text-align: center;
    margin: 0px;
    padding: 0px;
}


.heri-li li{
    color:white;
    list-style: none;
}

/*Instragram plugin profile hide*/

#sb_instagram .sb_instagram_header {

    display: none !important;
}


/*Woocommerce plugin customization */

.pagination-area p.woocommerce-result-count{
    display: none;
}

.pagination-area .categories-sort{
    float: left;
}
.pagination-area .paginaiton{
    float: right;
}

.woocommerce #review_form #respond textarea {
    box-sizing: border-box;
    width: 100%;
    background-color: #252525;
    border: 1px solid black;
    color: white;
    padding: 5px 10px;
}




/*Pagination */

.woocommerce nav.woocommerce-pagination ul li{

}


.woocommerce nav.woocommerce-pagination ul{
    border:none;
    margin-right:6px;
}
.woocommerce nav.woocommerce-pagination ul li{
    border-right:2px solid black;
}




.woocommerce nav.woocommerce-pagination ul li span.current{
    display: block;
    padding: 8px 16px;
    background-color: #333;
    color: white;
    font-weight: bold;
    transition: .5s;
}



.woocommerce ul.products li.product .button {

    display: none;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {

    text-align: center;
    color: white;
}

.woocommerce .products .star-rating {
    display: none;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
    color: white;

}



.woocommerce ul.products li.product .price {
    color:white;
    text-decoration: none;
}

/*Single product categories */

.single-product-area {
    background-color: black;
    padding: 5px 0px 10px 0px;
    color:white !important;

}

.single-product-area .woocommerce-breadcrumb{
    margin-bottom:50px;
}

.woocommerce div.product .woocommerce-product-rating {
    display: none;
}

.woocommerce div.product .product_title {

    margin-bottom: 25px;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
    margin-bottom: 25px;
    color:white;
}

.woocommerce div.product form.cart .variations {

    margin-top: 35px;
}

.woocommerce div.product form.cart {

    margin-top: 28px;
}

.woocommerce div.product form.cart .button {

    background-color: #6D6D6D;
    padding: 10px;
}

.woocommerce .quantity .qty {

    padding: 5px;
    border-radius: 5px;
    border:1px solid black;

}

.woocommerce div.product div.images img {

    margin-top: 20px;

}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
    color: black;

}
.woocommerce .products ul, .woocommerce ul.products {

    margin-top: 26px;

}

.woocommerce #reviews #comments h2 {

    margin-bottom: 20px;
}

/*Woocommerce message*/

.woocommerce-message a{
    background-color: #252525 !important;
    color: white;
    padding: 15px 30px;
}
.woocommerce-message a:hover {
    color:white;
}
.woocommerce-message{
    background-color: black !important;
    border: 1px solid #252525;
    color: white;
}

/*Cart page*/

.woocommerce table.shop_table {
    border: 1px solid #252525;
    color: white;

}

.woocommerce table.shop_table tbody{
    padding: 10px 0px !important;
}


.woocommerce table.shop_table th {
    border-bottom: 1px solid #252525;
    padding: 20px 0px;

}


.woocommerce a.remove {
    color: black!important;
    background-color: #252525;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    background-color: #252525;
    color:white;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{
    color: white;
    margin-top:50px;
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals h2{
    margin-bottom:20px;
}

.cart_totals table {
    padding: 10px 20px;
}

#add_payment_method .cart-collaterals .cart_totals table, .woocommerce-cart .cart-collaterals .cart_totals table, .woocommerce-checkout .cart-collaterals .cart_totals table {
    padding: 20px 10px;

}

#add_payment_method .cart-collaterals .cart_totals table td, #add_payment_method .cart-collaterals .cart_totals table th, .woocommerce-cart .cart-collaterals .cart_totals table td, .woocommerce-cart .cart-collaterals .cart_totals table th, .woocommerce-checkout .cart-collaterals .cart_totals table td, .woocommerce-checkout .cart-collaterals .cart_totals table th {
    vertical-align: middle;
    border-bottom: 1px solid transparent;
}
#add_payment_method .cart-collaterals .cart_totals tr td, #add_payment_method .cart-collaterals .cart_totals tr th, .woocommerce-cart .cart-collaterals .cart_totals tr td, .woocommerce-cart .cart-collaterals .cart_totals tr th, .woocommerce-checkout .cart-collaterals .cart_totals tr td, .woocommerce-checkout .cart-collaterals .cart_totals tr th {
    border-top:1px solid #252525;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
    background-color: #252525;
    color: white;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: #252525;
    color: white;
}

.woocommerce table.shop_table td {
    padding: 13px 8px;
}

/*Woocommerce info*/
.woocommerce-info {
    border-top-color: #1e85be;
    display: none;
}

/*Checkout page */

.col-1{
    max-width: 100%;
    color: white;
}
.col-2 {
    max-width: 100%;
    color: white;
}


.woocommerce form .form-row input
 {
    background-color: #252525;
    padding: 10px 6px;
    border: 1px solid transparent;
    color: white;
}
.woocommerce form .form-row.woocommerce-validated .select2-container, .woocommerce form .form-row.woocommerce-validated input.input-text, .woocommerce form .form-row.woocommerce-validated select {
    border-color: transparent;
}
.woocommerce form .form-row.woocommerce-invalid .select2-container, .woocommerce form .form-row.woocommerce-invalid input.input-text, .woocommerce form .form-row.woocommerce-invalid select {
    border-color: transparent;
}

.select2-container .select2-selection--single {

    background-color: #252525 !important;
    border:1px solid transparent !important;
    height: 40px !important;
    padding: 5px 2px !important;
    outline: none;
}



.select2-container .select2-selection--single .select2-selection__rendered {
    color: white !important;
}

.select2-container--default .select2-results>.select2-results__options {
    background-color: #999999;
    color: white;
    border-color: transparent;
}
.select2-search--dropdown {
    color: white;
    background-color: #999999;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    background-color: #252525;
    color:white;
    outline: none;
}
.woocommerce form .form-row textarea {

    background-color: #252525;
    border-color: transparent;
    padding: 5px;
    color: white;
}





/*Place order*/
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
    background: #252525;
    border-radius: 5px;
    color: white;
    border: 1px solid transparent;
}

.stories-area .payment_box p {
    color: black !important;
}

.woocommerce .checkout table.shop_table th {
 border-bottom: 1px solid transparent;
    padding: 20px;
}

.woocommerce .checkout > h3{

    color:white;
    margin:40px 0px 20px 0px;

}

.woocommerce .checkout table.shop_table td{
    padding: 13px 18px;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #999999;
    color: #fff;

}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: #999999;
    color: #fff;
}

/*Thank you. your order has been complete*/

.woocommerce{
    color: white;
}

.stories-area .woocommerce .woocommerce-order p{
    margin-bottom:40px;
}

.woocommerce .woocommerce-order-details table.shop_table th {
    border-bottom: 1px solid transparent;
    padding: 10px 6px;
}


/*my accaunt page*/

.woocommerce-MyAccount-navigation{
    color: white !important;

}
.woocommerce-MyAccount-navigation ul{
    list-style: none;
    margin-right: 30px;


}
.woocommerce-MyAccount-navigation ul li{



}
.woocommerce-MyAccount-navigation ul li a{

    color: white;
    border-bottom: 1px solid #252525;
    margin-bottom:10px;
    display: block;
    padding: 5px 0px;

}


/*login and registration area*/

.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
    border: 1px solid #252525;

}

.woocommerce form .form-row input[type="submit"] {
    margin-right:20px;
    outline: none;

}
.woocommerce form .form-row input[type="submit"]:hover {
    background-color: #252525 !important;

}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
    background-color: #252525;
    color: #515151;
    border-top: none;
    color: white;

}

/*woocommerce-password-strength*/
.woocommerce-password-strength.short {
    background-color: #252525;
    margin-top: 20px;
    color:red;
}

.woocommerce-password-strength.bad {
    background-color: #252525;
    margin-top: 20px;
    color:firebrick;
}

.woocommerce-password-strength.good {
    background-color: #252525;
    margin-top: 20px;
    color:white;
}

.woocommerce-password-strength.strong {
    background-color: #252525;
    margin-top: 20px;
    color:green;
}

.login input[type='submit'], .register input[type='submit'] {
    width: auto;
    padding: 8px 20px !important;


}


.woocommerce-MyAccount-content > p{
    margin-bottom:20px;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    background-color: #252525;
    color: white;
    padding: 14px 28px;
    outline: none;
    margin-left:2px;
}

.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
    background-color: #252525;
    color: white;

}

.woocommerce table.my_account_orders {
    font-size: .85em;
    padding: 10px;
}

.menu ul li ul.megha-menu li a {
    font-size:16px;
}


/*404 page style*/

.error-page{
    text-align: center;
}
.error-page h1{
    color: white;
    margin-bottom:50px;
    text-transform: uppercase;
}

.error-page a button{

    margin-top:50px;
    cursor: pointer;
}


/*Search not found*/

.not-search{
    color: white;
    text-align: center;
    padding: 50px 0px;
}

.not-search a button{

    margin-top:20px;
}

/*Search top*/

.woocommerce-product-search input[type='submit'] {
    display: none;

}

.woocommerce-product-search input[type='search'] {

    border: 1px solid black;
    padding: 2px 4px;
    margin-top: 6px;
    background-color: black;
    color: white;
    outline: none;

}

/*pagination in blog page*/

#fh5co-main .paginaiton{
    padding-bottom: 20px;
}


/*subscribe responsive*/

.footer-top-contant #wp-subscribe {

    padding: 0px;
}




















